{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Essy</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/text_area_styling.css' %}">

  </head>
  <body>
    {% include 'main/navbar.html' %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>