{% extends 'main/base.html' %}

{% load static %}

{% block content %}
    
    {% if error_msg %}
      <p><strong>{{ error_msg }}</strong></p>
    {% else %}

      <textarea readonly class="textareas">{{ task.title }}</textarea>
      <hr class="mt-0 mb-4">
      
      <form action="{% url 'main:submit_essay' task.id %}" method="post">
        {% csrf_token %}

        <textarea name="essay" class="textareas" rows='7' placeholder='Write your Answer Here' data-min-rows='7'></textarea>

        <p class="wordCount">Words: 0 Time: 1 second</p>

        <input type="submit" class="btn btn-success" value="Submit">

      </form>

      <script src="{% static 'js/auto_resize_textarea.js' %}"></script>

    {% endif %}

    
{% endblock %}
