{% extends 'main/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/write_view_essay.css' %}">
{% endblock %}


{% block content %}
    
    {% if error_msg %}
      <p><strong>{{ error_msg }}</strong></p>
    {% else %}

    <div class="write-view-edit-page-div">   
      <textarea readonly class="task-textarea">
You should spend about 40 minutes on this task.
Write about the following topic.


{{ task.title }}


You should write at least 250 words.
      </textarea>
  
          
      
      <form action="{% url 'main:submit_essay' task.id %}" method="post">
        <div id="control-n-stats">
          <ul class="horizontal-list">
            <li><p id="wordCount">Words: 0</p></li>
            <li><p id="timer">Time: 0</p></li>
            <li><input type="submit" class="btn btn-success" value="Submit"></li>
          </ul>
        </div>
      <hr class="mt-0 mb-4">
        {% csrf_token %}

        <textarea name="essay" id="input" class="write-textarea" rows='7' placeholder='Write your Answer Here' data-min-rows='7'></textarea>


      </form>

      <script src="{% static 'js/textarea_script.js' %}"></script>
      <script src="{% static 'js/word_counter.js' %}"></script>
  </div>
  {% endif %}

    
{% endblock %}
