{% extends 'main/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/text_area_styling.css' %}">
{% endblock %}


{% block content %}
    
    {% if error_msg %}
      <p><strong>{{ error_msg }}</strong></p>
    {% else %}

      <textarea readonly>{{ task.title }}</textarea>
      <hr class="mt-0 mb-4">
      
      <form action="{% url 'main:submit_essay' task.id %}" method="post">
        {% csrf_token %}

        <textarea name="essay" id="input" class="write-textarea" rows='7' placeholder='Write your Answer Here' data-min-rows='7'></textarea>

        <p id="wordCount">Words: 0</p>
        <p id="timer">Time: 0</p>
        <input type="submit" class="btn btn-success" value="Submit">

      </form>

      <script src="{% static 'js/textarea_script.js' %}"></script>

    {% endif %}

    
{% endblock %}
