{% extends 'main/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
<!-- Profile Page inspiration https://bootsnipp.com/snippets/4d03W -->
{% endblock %}

{% block content %}

<main class="wrapper">
  <section class="section-pic parallax parallax-text bg1">
     <h2><strong>{{ user.first_name}} {{ user.last_name }}</strong></h2>
     <h4>@{{ user.username }}</h4>
     
     <h5><a href="{% url 'main:my_essays' %}"> {{ essay_number }} essays</a></h5>
     <!-- <h3>Last Login: {{ user.last_login }}</h3> -->
     <!-- <h3>Registration Date: {{ user.date_joined }}</h3> -->
  </section>
  <section class="section static bio-text">
    <h4>About Me:</h4>
    <h6>Here should be some text about the person. This text will be retrieved from User's account where will be a new field bio. User can change that bio but for now this field will contain temporary message.</h6>
  </section>

  <!-- <section class="section parallax bg2"> -->
    
  <!-- <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title">Edit Profile</h5>
      <form method="post" action="{% url 'main:me_edit' %}">
        {% csrf_token %}
        <table>
          <tr>
            <td>User Name</td>
            <td><input name="username" type="text"/></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><input name="email" type="text"/></td>
          </tr>
          <tr>
            <td>Current Password</td>
            <td><input name="current_password" type="text"/></td>
          </tr>
          <tr>
            <td>New Password</td>
            <td><input name="new_password" type="text"/></td>
          </tr>
          <tr>
            <td>Confirm Password</td>
            <td><input name="confirm_password" type="text"/></td>
          </tr>
        </table>
        <input type="submit" value="Save" />
        
      </form>
    </div>
  </div> -->
    
  <!-- </section> -->
</main>
{% endblock %}
