{% extends 'main/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock %}

{% block content %}

{% if essay_list %}
    <div class="container mt-4">
        <div class="row">
            {% for essay in essay_list %}        
                <div class="col-auto bg-light mb-3">
                    <div class="card" style="width: 15rem;">
                        <img src="{{ essay.task.category.image_url}}" class="card-img-top card-image" alt="Image not found">
                        <div class="card-header">{{ essay.task.category }}: {{ essay.last_modified }}</div>
                        <div class="card-body">
                            <p class="card-text"></p>
                            <p class="card-text">{{ essay }}</p>
                            <a href="{% url 'main:my_ith_essay' essay.id %}" class="card-link">View Essay</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div id="no-objects-card">
        <h3>You don't have essays</h3>
        <a role="button" class="btn btn-primary" id="write-essay-btn" href="{% url 'main:tasks' %}">Write Essay</a>
    </div>
{% endif %}

{% endblock %}
