{% extends 'main/base.html' %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/view_edit_essay.css' %}">
{% endblock %}

{% block content %}    
    {% if error %}
        <p>{{ error }}</p>
    {% else %}
        <textarea>{{ essay.task.title }}</textarea>
        <form action="{% url 'main:update_essay' essay.id %}" method="post">
        <div id="control-n-stats">
          <ul class="horizontal-list">
            <li><p id="wordCount">Words: 0</p></li>
            <li><p id="">Time: 0</p></li>
            <li><input type="button" class="btn btn-success" id="edit-essay-btn" value="Edit the Essay"></li>
            <li><input type="submit" class="btn btn-success" id="submit-btn" value="Submit"></li>
            <li><input type="button" class="btn btn-success" id="cross-btn" value="X"></li>
          </ul>
        </div>
        <hr class="mt-0 mb-4">

            {% csrf_token %}
            <textarea readonly name="essay" rows='9' id='input' data-min-rows='9'>{{ essay.text }}</textarea>
        </form>
        <script src="{% static 'js/word_counter.js' %}"></script>
        <script src="{% static 'js/edit_essay.js' %}"></script>
    {% endif %}
{% endblock %}
