{% extends 'main/base.html' %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/text_area_styling.css' %}">
{% endblock %}

{% block content %}    
    {% if error %}
        <p>{{ error }}</p>
    {% else %}
        <textarea>{{ essay.task.title }}</textarea>
        <hr class="mt-0 mb-4">
        <textarea readonly rows='9' data-min-rows='9'>{{ essay.text }}</textarea>
        <script src="{% static 'js/auto_resize_textarea.js' %}"></script>
    {% endif %}
{% endblock %}
