@import 'navbar.css';

.card-image {
  height: 240px;
}

p.card-text{
  font-size: 18px;
}

/* Styling of Card with text: No object... */
#no-objects-card {
  border: black solid 2px;
  text-align: center;
  width: 50%;
  height: 150px;
  margin-left: 25%;
  margin-top: 10%;
  padding-top: 2%;
}

#write-essay-btn {
  width: 20%;
  height: 30%;
}